* {
  box-sizing: border-box;
}

html,
body,
form {
  margin: 0;
  padding: 0;
  font-size: 10.5px;
  line-height: 10.5px;
  letter-spacing: -0.4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕',
    helvetica, 'Apple SD Gothic Neo', sans-serif;
}

form,
ul {
  margin: 0;
  padding: 0;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#wrap {
  text-align: center;
}

#wrap-center {
  display: inline-block;
  width: 1280px;
}

#header {
  text-align: left;
  position: relative;
  height: 64px;
}

#header-hamburger,
#header-naverpay,
#header-notice {
  position: absolute;
  top: 18px;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#header-hamburger:hover::before,
#header-naverpay:hover::before,
#header-notice:hover::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 0;
  width: 44px;
  height: 44px;
  background-color: var(--color_option_bg);
  border-radius: 50%;
}

#header-hamburger > div,
#header-naverpay > div,
#header-notice > div {
  width: 26px;
  height: 26px;
  background-image: url('./sp_main.png');
  background-size: 422px 405px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

#header-hamburger {
  left: -10px;
}

#header-hamburger > div {
  background-position: -335px -284px;
}

#header-naverpay {
  right: 42px;
  padding: 10px 8px;
}

#header-naverpay > div {
  width: 30px;
  background-position: -31px -316px;
}

#header-notice {
  right: -10px;
}

#header-notice > div {
  background-position: -364px -27px;
}

/* serach */
#search > form {
  display: inline-flex;
  align-items: center;
  width: 708px;
  height: 60px;
  border: 1px solid #03c75a;
  border-radius: 33px;
}

#search > form:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#search-svg {
  width: 68px;
  padding: 17px;
  padding-left: 27px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#search > form:focus-within #search-svg::after {
  content: '';
  width: 1px;
  height: 20px;
  background-color: #e4e4e4;
  position: absolute;
  top: 20;
  right: 0;
}

#search-svg svg {
  width: 24px;
  height: 24px;
  fill: #03c75a;
}

#search-input {
  width: 480px;
  padding: 17px 0;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  outline: none;
}

#search-input::placeholder {
  color: white;
}

#search-input:focus::placeholder {
  color: #e4e4e4;
  font-weight: normal;
}

#search-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

#search-keyboard,
#search-recent,
#search-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

#search-keyboard::before,
#search-recent::before,
#search-button::before {
  content: '';
  display: block;
  background-image: url(./sp_main.png);
  background-size: 422px 405px;
  background-position: -270px -234px;
  background-repeat: no-repeat;
}

#search-button {
  padding: 17px 27px 16px 10px;
}

#search-keyboard::before {
  background-position: -270px -234px;
  width: 24px;
  height: 16px;
}

#search-keyboard:hover::before {
  filter: brightness(0.7);
}

#search-recent::before {
  background-position: -412px -313px;
  width: 10px;
  height: 6px;
}

#search-button::before {
  background-position: -364px -132px;
  width: 25px;
  height: 25px;
}

#main {
  height: 1000px;
}

/* nav */
#nav {
  margin-top: 12px;
}

#nav ul {
  display: inline-flex;
  justify-content: center;
  width: 676px;
}

#nav li {
  width: 64px;
  list-style: none;
  margin-left: 4px;
}

#nav li:first-child {
  margin-left: 0;
}

#nav li a:visited {
  color: black;
}

#nav li div {
  margin: 0 auto;
  position: relative;
}

#nav li div {
  width: 54px;
  height: 54px;
  text-align: center;
}

#nav li div::before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  z-index: -1;
  background-image: url(./sp_main.png);
  background-size: 422px 405px;
  background-position: 0px -128px;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
}

#nav li div::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 44px;
  height: 44px;
  background-image: url(./sp_main.png);
  background-size: 422px 405px;
  background-repeat: no-repeat;
}

#nav li span {
  display: inline-block;
  width: 64px;
  margin-top: 6px;
  font-size: 1.4rem;
  text-align: center;
}

#nav li:nth-of-type(1) div::after {
  background-position: -250px -90px;
}

#nav li:nth-of-type(2) div::after {
  background-position: -250px 0px;
}

#nav li:nth-of-type(3) div::after {
  background-position: -201px -98px;
}

#nav li:nth-of-type(4) div::after {
  background-position: -90px -209px;
}

#nav li:nth-of-type(5) div::after {
  background-position: 0px -209px;
}

#nav li:nth-of-type(6) div::after {
  background-position: -180px -209px;
}

#nav li:nth-of-type(7) div::after {
  background-position: -45px -209px;
}

#nav li:nth-of-type(8) div::after {
  background-position: -201px 0px;
  width: 48px;
  height: 48px;
  top: 0px;
  left: 3px;
}

#nav li:nth-of-type(9) div::after {
  background-position: -225px -209px;
}

#nav li:nth-of-type(10) div::after {
  background-position: -250px -135px;
}

/* main */
#main {
  margin-top: 54px;
  display: flex;
}

#main-left {
  width: 830px;
  margin-right: 30px;
}

#main-right {
  width: 420px;
}

/* id가 ad로 끝나는 aside */
aside[id$='ad'] {
  background-color: rgb(203, 199, 199);
  border-radius: 8px;
  margin-bottom: 16px;
}

#main-left-ad {
  height: 130px;
}

#main-right-ad {
  height: 240px;
}

/* id가 main으로 시작하는 section */
section[id^='main'] {
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  margin-bottom: 16px;
}

#main-newstand {
  height: 426px;
  display: flex;
  flex-direction: column;
}

#main-newstand-top {
  flex: 1;
}

#main-newstand header {
  display: flex;
  justify-content: flex-start;
  padding: 18px 20px 17px;
  font-size: 1.6rem;
  position: relative;
}

#main-newstand header a {
  color: rgba(8, 8, 8, 0.5);
  font-weight: 700;
}

#main-newstand header a:nth-child(1) {
  color: black;
}

#main-newstand header a:nth-child(2) {
  padding-left: 18px;
}

#main-newstand header a:nth-child(3),
#main-newstand header a:nth-child(4),
#main-newstand header a:nth-child(5) {
  padding-left: 26px;
}

#main-newstand header a:nth-child(2)::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 90px;
  width: 4px;
  height: 4px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 9px 7px 0;
  border-radius: 50%;
}

#main-newstand header a:nth-child(3)::before,
#main-newstand header a:nth-child(4)::before,
#main-newstand header a:nth-child(5)::before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 190px;
  width: 1px;
  height: 15px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  transform: skewX(-15deg);
}

#main-newstand header a:nth-child(4)::before {
  left: 246px;
}
#main-newstand header a:nth-child(5)::before {
  left: 315px;
}

#main-newstand a {
  text-decoration: none;
}

#main-newstand a:hover {
  text-decoration: underline;
}

#main-newstand-gray {
  height: 50px;
  padding: 12px 20px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color_option_bg);
}

#main-newstand-gray a {
  font-size: 1.3rem;
  color: var(--color_caption1);
  line-height: 26px;
}

#main-newstand-gray-left {
  display: flex;
}

#main-newstand-animation {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

#main-newstand-animation > a:nth-child(2) {
  display: block;
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
}

#main-newstand-grid {
  display: grid;
  gap: 1px;
  background-color: var(--color_border_in);
  height: 224px;
  grid-template-rows: repeat(4, 1fr);
  width: 790px;
  grid-template-columns: repeat(6, 1fr);
  margin: 18px 20px;
  border: 1px solid var(--color_border_in);
  border-radius: 4px;
}

#main-newstand-grid > div {
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-newstand footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 830px;
  height: 57px;
  padding: 10px 0 11px;
  font-weight: 600;
  position: relative;
  border-top: 1px solid var(--color_border_in);
}

#main-newstand footer button {
  width: 36px;
  height: 36px;
  border: 1px solid var(--color_button_border);
  background-color: var(--color_button1_bg);
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}

#main-newstand footer .prev-button::after,
#main-newstand footer .next-button::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./sp_main.png);
  background-size: 422px 405px;
  background-position: -412px -26px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  margin: auto;
}

#main-newstand footer .prev-button::after {
  transform: rotate(180deg);
}

#main-newstand footer .list,
#main-newstand footer .grid {
  position: absolute;
  right: 20px;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

#main-newstand footer .list::before,
#main-newstand footer .grid::before {
  content: '';
  display: inline-block;
  background-image: url(./sp_main.png);
  background-size: 422px 405px;
  background-position: -107px -368px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

#main-newstand footer .list::before {
  background-position: -391px 0px;
}

#main-newstand footer .grid {
  right: 60px;
}

#main-newstand footer > div {
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: var(--color_caption2);
  padding: 0 16px;
}

#main-newstand footer > div > span {
  color: var(--color_news);
}

#main-shopping {
  height: 560px;
}

#main-login {
  height: 164px;
  padding: 21px 20px 18px 20px;
}

#main-login > p {
  font-size: 1.4rem;
  margin: 5px;
}

#main-login > button {
  width: 380px;
  height: 56px;
  border: 1px solid #03c75a;
  border-radius: 4px;
  background-color: #03c75a;
  font-size: 1.4rem;
  color: #fff;
  margin-top: 13px;
  cursor: pointer;
}

#main-login > button > div {
  background-image: url(./sp_main.png);
  background-size: 422px 405px;
  background-position: -120px -166px;
  background-repeat: no-repeat;
  width: 72px;
  height: 14px;
  display: inline-block;
  vertical-align: -2px;
}

#main-login > button > span {
  margin-left: 4px;
  letter-spacing: -0.4px;
}

#main-login > ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  margin-top: 15px;
}

#main-login > ul li:hover {
  text-decoration: underline;
}

#main-login > ul a::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: var(--color_dot_divider);
  margin: 4px 10px 0;
}

#main-login > ul > li:first-child a::before {
  display: none;
}

#main-login > ul a {
  font-size: 1.3rem;
  color: var(--color_caption2);
  text-decoration: none;
}

#main-login > ul a:visited {
  color: inherit;
}

.main-weather-stock {
  padding: 0 18px;
}

.main-weather-stock > header {
  height: 40px;
  padding: 6px 0;
  border-bottom: 1px solid var(--color_border_in);
}

#main-weather {
  height: 236px;
}

#main-stock {
  height: 236px;
}
