html,
body {
  margin: 0;
  padding: 0;
}

#wrap {
  text-align: center;
}

#wrap-center {
  display: inline-block;
  width: 1280px;
  border: 2px solid red;
}

#header {
  text-align: left;
}

#header-hamburger {
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#header-hamburger:hover {
  background-color: var(--color_option_bg);
  border-radius: 50%;
}

#header-hamburger > div {
  width: 26px;
  height: 26px;
  background-image: url('./sp_main.png');
  background-size: 422px 405px;
  background-position: -335px -284px;
  background-repeat: no-repeat;
}

#main {
  height: 1000px;
}
